[defaults]
inventory           = ./inventory/ihcluster/inventory.ini
host_key_checking   = False
stdout_callback     = default
result_format       = yaml
retry_files_enabled = False
gathering           = smart
fact_caching        = jsonfile
fact_caching_connection = /tmp/ansible_facts_cache
fact_caching_timeout = 3600

[ssh_connection]
pipelining          = True
ssh_args            = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
